<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DentalClinicManagementDbConnection"
			 connectionString="Data Source=TANTRAN;Initial Catalog=DentalClinicManagement;Integrated Security=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
		<add name ="TaiMSIConnectionString"
			 connectionString="Data Source=MSI;Initial Catalog=DentalClinicManagement;Integrated Security=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>